# Auto detect text files and perform LF normalization
*   text=auto
*.py    text diff=python

# bash scripts, keep linux LF for newlines
*.sh    text eol=lf
*.sql   text eol=lf

# images
*.png   binary
*.jpg   binary

# media
*.mp4   binary
*.mp3   binary
*.mp3   binary
*.wav   binary
