# Hidden junk
.DS_Store
desktop.ini
*._

# Temp files
*~*
**/api/
*.bak*
*_temp*
*.lock
*.log

# Documents
**/info/
*.csv
*.pdf
*.doc*
*.od*
*.xls*
*.txt

# Development environments
.idea*/
.venv*/
*.code-workspace
.vscode/

# API credentials
*secret*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/
